#container {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}
#container #title {
  font-size: 50px;
}
#container #description {
  font-size: 25px;
}

.county:hover {
  fill: #FFC900;
}

#tooltip {
  position: absolute;
  background-color: #03071E;
  color: #ECEFFD;
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
}